*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
/* banniere*/
.banniere{
    background-image: url("pexels-adrien-olichon-2387819.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 110px;
    width: 100%;
    margin: auto;
}
/* Contenu*/
.Nom{
    display: flex;
    justify-content: center;
    margin: 10px 0px 10px 0px;
}
.column {
    float: left;
    width: 50%;
    text-align: center;
    margin: 30px 0px 10px 0px;
}
.Titre{
    font-size: 20px;
}
/* Gauche*/
.Qui{
    text-align: justify;
    padding: 10px 20px 10px 20px;
}
/* Droite*/
.Tableau{
    display: flex;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    text-align: left;
}
td{
    padding-left: 50px;
}
.logo{
    padding-left: 15px;
}
/* Exp pro*/
.Exp{
    margin: 10px 20px 10px 20px;
}

